sudo: required

language: python

python:
    - 3.6

services:
  - docker

before_install:
  - docker run -d -p 127.0.0.1:1113:1113 eventstore/eventstore

install: make

script:
  - "make travis"

after_success:
  - codecov
