sudo: required
language: python
matrix:
  include:
  - python: 3.6
    env: TOXENV=py36
  - python: 3.7
    env: TOXENV=py37
  - python: 3.8
    env: TOXENV=py38
  - python: 3.9
    env: TOXENV=py39
  - python: 3.10-dev
    env: TOXENV=py310
services:
- docker
before_install:
- make eventstore_docker
install:
- pip install tox black
script:
- make travis
after_success:
- codecov
deploy:
  provider: pypi
  user: __token__
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: madedotcom/photon-pump
  skip_existing: true
  password:
    secure: b7pt1vw0nULdj+XpDeH50NWgPF1IYPDU12P5GzWDe4A7ns+SHLp5gOw8LHKEda5DQGlQU/eCeu/6Co8rLi5Gg3XXJtozvNb2e15yNSnyxdQeaVvE/5Ounny+sL+cIibZD24YS3BmRc0cLwIxEXvDAoe9wm9OlmYt6o0621Y5G3Og1mmS2zOG0/j6kVMO6IcnmZG7Jtb549jjquqoSwL1tmnnDqjhjWvM71VBrQavUiHQzpLOiB391+3AVVebcfrSLOEdpdn/mE6H07ZA/S4kym/9hrwhb4vv89RNsgXRm89x8H93RxwmjEHQmSZC0x5XbrlVQqiIqTBgz50NNOLcRL78YygRQgQSD0VfqrJnobqXqRi2zwpW2MPJhIjG2AmpcUDXZi9feFamYXysL4mwUpfbT9wN06Rm2s6TAepOB4of8xcRFx0/91Czkbk2iYJ0QRxi8RiiNrX6Ad5PZYmxUPo9m7LO5yd33ptoXrVRn+TaXDjkQS+FlHjhmJtYfmHOAO5iJI40AtpwxJroJPdXeEAJ3uc8ffjLy6YR2TTlokIGM/F7+iw4VKNXA6xnYAgbfcNliPoRfnU4Qd9LosvDcWUcnH26N1JOxUaElUHDWDxXvvq0gsONKP7TFf0pA13mlR9B2WSAuQp5XDnjs3APGQn/VtLBDPqFjNZMw5B2RiY=
