[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
pre-commit = "*"
black = "*"

[dev-packages]
aioresponses = "*"
pytest-asyncio = "*"
colorama = "*"
"flake8" = "*"
black = "*"
pytest-watch = "*"
testfixtures = "*"
codecov = "*"
pytest = "*"
photon-pump = {editable = true, path = "."}
pytest-cov = "*"
neovim = "*"
sphinx = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
