[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
idna-ssl = "*"

[dev-packages]
aioresponses = "*"
pytest-asyncio = "*"
colorama = "*"
black = "*"
testfixtures = "*"
codecov = "*"
pytest = "*"
photon-pump = {editable = true,path = "."}
pytest-cov = "*"
sphinx = "*"
versioneer = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
